@tailwind base;
@tailwind components;
@tailwind utilities;

/* .text_bg {
  background-image: url(pdf.png);
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 1px;
  font-size: 1px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Steelfish Rg", "helvetica neue", helvetica, arial, sans-serif;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
} */

.my-div::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
}

/* Define the scrollbar thumb (the draggable part) */
.my-div::-webkit-scrollbar-thumb {
  background-color: #888; /* Set the color of the thumb */
  border-radius: 6px; /* Add rounded corners to the thumb */
}

/* Define the scrollbar track on hover */
.my-div::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Change color on hover */
}
